.sconsign.dblite
*.hi
*.o
*.pyc
index.html
/aboutme.html
/tools/render
/articles/df0pred-1/lm.txt
/articles/df0pred-1/lmplot.png
/articles/df0pred-1/lmrandsummary.txt
/articles/df0pred-1/lmsummary.txt
/articles/df0pred-1/main.html
/articles/df0pred-1/pointplot.png
/articles/index.t2t
/debian/index.t2t
/debian/dists
