<%inherit file="htmlbase.html"/>

<%block name="htmlbody">

<div id="lpenz">

<div id="header">
	<div id="logo">
		<a href="${top}/index.html"><img alt="Avulsos by Penz" src="${top}/logo.png" /></a>
	</div>
	<div id="breadcrumbs">
		% for b in breadcrumbs:
			% if not b['first']:
				&gt;
			% endif
			<a href="${b['url']}">${b['title']}</a>
		% endfor
	</div>
	<ul id="nav">
		<li><a href="${top}/articles/index.html">Articles</a></li>
		<li><a href="${top}/debian/index.html">Debian</a></li>
		<li><a href="${top}/about/index.html">About</a></li>
	</ul>
</div>
<div id="contents">
	<h1 id="title">${title}</h1>
	% if subtitle:
	<h1 id="subtitle">- ${subtitle} -</h1>
	% endif
	${self.body()}

</div>



<div class="invisible">
  <a href="https://plus.google.com/u/0/101011717297103072571?rel=author">Google Plus authorship information</a>
</div>

<div id="footer">
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0; vertical-align:middle;" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
		This work by <a href="mailto:lpenz@lpenz.org">Leandro Lisboa Penz</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4182011-2']);
  _gaq.push(['_setDomainName', 'lpenz.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</div>

<div id="adsense">

<script type="text/javascript"><!--
google_ad_client = "ca-pub-7154717812458918";
/* lpenz.org */
google_ad_slot = "6390791585";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</div>

</%block>

<!-- vim: ft=html
-->
